--root{
    --red:rgb(255, 121, 121);
    --orange:rgb(255, 195, 126);
    --yellow:rgb(255, 238, 127);
    --green:rgb(149, 255, 128);
    --blue:rgb(136, 197, 255);
    --purple:rgb(223, 143, 255);
}
.navbar{
    background-color: rgb(168, 168, 168)  
}
ul{
    list-style-type: none;
}
.nav-item{
    font-size: larger;
    margin-left: 20px;
}
dropdown{
    background-color: white;
}
body{
    color:black;
}
.card{
    max-width: 90%;
    margin: auto;
}
#card-3{
    background-color: var(--red);
}
#card-4{
    background-color: var(--orange);
}
#card-5{
    background-color: var(--yellow);
}
#template{
    display: none;
}