@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Laila:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:300,700&display=swap');
@import "compass/css3";
/*Universal styling */
--root{
    --red:rgb(255, 121, 121);
    --orange:rgb(255, 195, 126);
    --yellow:rgb(255, 238, 127);
    --green:rgb(149, 255, 128);
    --blue:rgb(136, 197, 255);
    --purple:rgb(223, 143, 255);
    --sage:rgb(153, 169, 140);
    --black: rgb(56, 56, 56);
}
body{
    color: rgb(56, 56, 56)!important;
}

/* Navbar styling */
nav, footer{
    background: linear-gradient(90deg, rgba(255, 206, 206, 0.594) 0%, rgba(255, 218, 184, 0.6) 19.27%, rgba(255, 241, 191, 0.6) 39.17%, rgba(210, 255, 175, 0.6) 58.33%, rgba(174, 240, 255, 0.6) 76.56%, rgba(244, 176, 255, 0.6) 100%);  
}
.navbar-brand{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    margin-left: 5px;
    color: rgb(56, 56, 56)!important;
}
.nav-item{
    margin-right: 10px;
}
ul{
    list-style-type: none;
}
.nav-item{
    font-size: larger;
    margin-left: 20px;
}
dropdown{
    background-color: white;
}
.card{
    max-width: 90%;
    margin: auto;
    text-align: center;
}
/*Index*/
#intro{
    margin-left:30%;
}
h1{
    font-family: 'ABeeZee', sans-serif;
    font-size: 5rem;
}
#selfie{
    border-radius: 50%;
    left: 37rem;
    top: 10rem;
    position: absolute;
    z-index: 1;
}
.tag{
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    font-size: xx-large;
    position: relative;
    right: 18rem;
    top:27rem;
}
/*Projects page*/
.project-titles,.project-contents{
    font-family: 'ABeeZee',sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 10px;
}
.project-contents{
    font-size: 16px;
    padding-left: none;
    list-style-type: circle;
}
/*cards styling*/
.card{
    border-radius: 60px!important;
    color:darkslategrey;
    font-family: 'lato', sans-serif;
    text-align: left;
}
#card-3{
    border-color: rgb(255, 121, 121)!important;
}
#card-4{
    border-color:rgb(255, 195, 126);
}
#card-5{
    border-color:rgb(255, 238, 127);
}
.btn-primary{
    color:darkslategray;
    background-color: rgb(210, 233, 255);
}
.btn-dark{
    background-color: rgb(154, 154, 154);
}
.card>hr{
    max-width:20%;
    margin-left: 40%;
}
.card>p{
    margin:0px 5px;
}
.card>ul{
    padding: 0;
}
#template{
    display: none;
}
/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
}
a{
    color: var(--black);
    text-decoration: none!important;
}